.App {
  text-align: center;
}
.App-logo, svg{
  height: 10vmin;
  width: 10vmin;
  align-items: left;
  padding:10px
}
.App-header {
  background-color: white;/* #0ED6BD */
  min-height: 5vh;
  display: flex;
  flex: auto;
  flex-flow: row;
  flex-grow: 2;
  font-size: calc(10px + 2vmin);
  padding: 10px;
}
.Header-items{
  padding: 50px;
  color:red;
  text-decoration: none;
}
.new-logo{
  outline: 2px solid red;

}


